.container-principal{
    text-align: center;
    overflow-x: hidden;
}

.container-cta-principal-text{
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-cta-principal-text .text-box{
    margin: 10px;
}

.container-cta-principal-text:nth-child(2){
    line-height: 1.4rem;
}

.arrow-icon{
    text-align: center;
    width: 100vw;
    font-size: 4rem;
    background: transparent;
    border: none;
    color: #6A0BD9;
    animation-name: arrow-float;
    animation-duration: .5s; 
    animation-iteration-count: infinite ;
    animation-direction: alternate-reverse;

}
.arrow-icon p{
    font-size: 16px;
    margin-bottom: -.5px;
}

@keyframes arrow-float {
    0% {
        transform: translateY(0);
    }

    100%{
        transform: translateY(10px);
    }
    0% {
        transform: translateY(0);
    }

}

.language-section {

    display:  flex; 
    align-items: center;
    flex-direction: column;
    margin: 50px auto 100px;

}
.container-logo-language{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    padding: 10px;
}

.container-logo-language img{
    width:55px;

    margin-right: 20px;
    border-radius: 5px;
}

.container-description-language {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container-description-language p{
    width: 70%;
}

@media all and (min-width : 786px) {

    .container-cta-principal-text .text-box{
        width: 60%;
        height: 200px;
    }
    
    .language-section{
        flex-direction: column;
    }

    .container-books{
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }
}