.text-box{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: left;
    padding: 0 20px;
    box-shadow: 0 0 1em #ccc;
    border-radius: 30px;
    margin-bottom: 50px;
    padding: 30px;
}

.text-box p{
    border-left: solid 1px black;
    padding-left: 10px;
}