.principal-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.cta-container-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}
hr{
    width: 70vw;
    margin: 100px auto;
}


.cta-container-button{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.cta-button-default{
    background: #1882FF;
    color:  white;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 0 .5em #1882FF;
}


@media all and (min-width : 786px) {

    .cta-container-text{
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }   

    .cta-container-button{
        margin-top: 50px;
    }

}